/* FeeDetails.css */

.fee-details {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.fee-details h3 {
  margin-bottom: 10px;
}

.fee-details .fee-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.fee-details .fee-table th,
.fee-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.fee-details .fee-table th {
  background-color: #f0f0f0;
}

.fee-details .fee-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.fee-details .fee-table tbody tr:hover {
  background-color: #f0f0f0;
}

.fee-details .payment-button {
  padding: 6px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.fee-details .payment-status {
  font-size: 14px;
  margin-top: 6px;
}

.fee-details p{
  color: dimgrey;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .fee-details .fee-table th,
  .fee-table td {
    font-size: 14px;
    padding: 10px; /* Increased padding for better spacing */
  }

  .fee-details .payment-button {
    font-size: 14px;
    padding: 8px 12px; /* Adjusted padding for the button */
  }

  .fee-details .payment-status {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .fee-details .fee-table th,
  .fee-table td {
    font-size: 12px;
    padding: 8px; /* Reduced padding for smaller screens */
  }

  .fee-details .payment-button {
    font-size: 12px;
    padding: 6px 10px; /* Adjusted padding for the button */
  }

  .fee-details .payment-status {
    font-size: 10px;
  }
}