.board {
    margin: 50px;
  }
  
  .board .area {
    width: 100%;
    height: 100px;
  }
  
  .notice-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .notice-item {
    margin-top: 20px;
    width: calc(33.33% - 20px);
    text-align: center;
  }
  
  .notice-item img {
    max-width: 100%;
    height: auto;
  }
  
  .show-buttons {
    margin-top: 10px;
  }
  